@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .idol-list {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 31px 22px;

    @media only screen and (max-width: 1370px) {
      padding: 0 56px;
    }

    @media only screen and (max-width: 1280px) {
      padding: 0 56px;
      gap: 24px;
      grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (max-width: 744px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: 480px) {
      padding: 0;
      gap: 24px 17px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .swiper-arrow {
    @apply absolute top-1/2 -translate-y-1/2;
  }

  .swiper-left {
    left: -61px;

    @media only screen and (max-width: 1370px) {
      left: 0;
    }
  }

  .swiper-right {
    right: -61px;

    @media only screen and (max-width: 1370px) {
      right: 0;
    }
  }

  .donation-list {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);

    > * {
      display: none;
    }
    > :nth-child(1) {
      display: block;
    }

    @media (min-width: 448px) {
      grid-template-columns: repeat(2, 1fr);
      > :nth-child(-n + 2) {
        display: block;
      }
    }

    @media (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      > :nth-child(-n + 3) {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      > * {
        display: block;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f96d69;
  }

  ::-webkit-scrollbar-track {
    background: #02000e;
  }

  .skeleton-style {
    @apply animate-pulse bg-gray-medium;
  }

  body::before {
    content: '';
    background: #14c3fe;
    opacity: 0.2;
    filter: blur(70.00000762939453px);
    width: 199px;
    height: 273px;
    top: -49px;
    left: -114px;
    display: block;
    position: absolute;
    z-index: -1;
  }

  input[type='radio'] {
    flex-shrink: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: #8c92ab;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #8c92ab;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  input[type='radio']:checked {
    background-color: #f96d69;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #f96d69;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1248px] px-6;
  }
}
