@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-orange: #f96d69;
  --brand-pink: #fe5493;
  --black-primary: #02000e;
  --black-secondary: #181d26;
  --gray-dark: #67666e;
  --gray-medium: #828282;
  --gray-light: #a3a5a8;
  --white-secondary: #8c92ab;
  --white-primary: #f7f7f8;
}
